$page-border-width: 12px;

:root {
  --theme-text: #1d3557;
  --theme-text-rgb: 29, 53, 87;
  --theme-secondary: #5b6d85;
  --theme-secondary-rgb: 91, 109, 133;
  --theme-inverse: #f5f5f5;
  --theme-highlight: #e71d36;
  --theme-background: #f5f5f5;
  --theme-background-rgb: 245, 245, 245;

  --stripe-red: #e71d36;
  --stripe-yellow: #ff9f1c;
  --stripe-green: #2ec4b6;

  --link-default: var(--link-black);
  --link-black: #111;
  --link-white: #fefffe;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --theme-text: #f5f5f5;
    --theme-text-rgb: 245, 245, 245;
    --theme-secondary: #bfc0c0;
    --theme-secondary-rgb: 191, 192, 192;
    --theme-inverse: #f5f5f5;
    --theme-highlight: #e71d36;
    --theme-background: #274c77;
    --theme-background-rgb: 39, 76, 119;

    --link-default: var(--link-white);
  }
}
