$page-border-width: 12px;

:root {
  --theme-text: #1d3557;
  --theme-secondary: #5b6d85;
  --theme-inverse: #f5f5f5;
  --theme-highlight: #e71d36;
  --theme-background: #f5f5f5;

  --stripe-red: #e71d36;
  --stripe-yellow: #ff9f1c;
  --stripe-green: #2ec4b6;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --theme-text: #f5f5f5;
    --theme-secondary: #bfc0c0;
    --theme-inverse: #f5f5f5;
    --theme-highlight: #e71d36;
    --theme-background: #274c77;
  }
}
